<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>First App</title>
</head>
<body>

    <div id="app">
        <input v-model="massage">
        <input v-bind:value="massage" v-on:input="massage = $event.target.value">
        {{massage}}
        <ol>
            <li v-for="todo in todos">
                {{todo.text}}
            </li>
            <todo-item ></todo-item>
        </ol>
        <p v-text="massage"></p>
        <p>Lorem {{name}} ipsum dolor sit amet consectetur adipisicing elit. Consequatur eveniet odit, maxime culpa laborum voluptas, magni quisquam inventore deserunt, ducimus repudiandae. Asperiores veniam dolorem voluptates tenetur explicabo corporis qui sed.</p>
        <p v-text="name? 'your name is set':'your name is not set'"></p>
        <p v-for="todo in todos" v-text="todo.text"></p>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <script>

        Vue.component('todo-item',{
            
            data:function(){
                return {
                    MyName:'mohameed elmostafa',
                    count:0
                }
            },
            template: '<p v-on:click="count++">This is {{count}} a todo</p>'
        })

        // this is vue object 
        var vm = new Vue({
            el:'#app',
            data: {
                massage:"Hello world",
                name:"Mohammed",
                todos:[
                { text: 'Learn JavaScript' },
                { text: 'Learn Vue' },
                { text: 'Build something awesome' }
                ]

            },

// this is how to create methods in vue js.
            methods:{
                reverseMesssage: function (){
                    // this.massage=this.massage
                }

            }
        })
    </script>
    
</body>
</html>