<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>First App</title>
</head>
<body>

    <div id="app">

        <label>Write user name</label>
        <input type="text" v-model="UserName">
        <br>
        <p>{{validateUserName}}</p>
        <br>
        <br>
        <label >Find todo list</label>
        <input type="text" v-model="findlist">
        <ul>
            <li v-for="findto in fliterlist">
                {{findto}}
            </li>
        </ul>
        <p>{{clacAge}}</p>
        <p>{{FullName}}</p>
        <input v-model="massage">
        <input v-bind:value="massage" v-on:input="massage = $event.target.value">
        {{massage}}
        <ol>
            <li v-for="todo in todos">
                {{todo.text}}
            </li>
            <todo-item :name="name" :url="url"></todo-item>
            <todo-item v-for="post in Posts" :author="post.author" :title="post.title"></todo-item>
        </ol>
        <post-item></post-item>
        <p v-text="massage"></p>
        <p>Lorem {{name}} ipsum dolor sit amet consectetur adipisicing elit. Consequatur eveniet odit, maxime culpa laborum voluptas, magni quisquam inventore deserunt, ducimus repudiandae. Asperiores veniam dolorem voluptates tenetur explicabo corporis qui sed.</p>
        <p v-text="name? 'your name is set':'your name is not set'"></p>
        <p v-for="todo in todos" v-text="todo.text"></p>
        
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <script>

// Local component
        var PostItem ={
            data:function(){
                return {
                    MyName:'mohameed elmostafa',
                    count:0
                }
            },
            template: '<p>test local component<p>'

        }

            Vue.component('todo-item',{
            
            data:function(){
                return {
                    MyName:'mohameed elmostafa',
                    count:0
                }
            },
            // to use passing date into components
            props:['author','title'],
            template: '<p v-on:click="count++">This is {{author}} a todo and url is {{title}}</p>'
        })

        // this is vue object 
        var vm = new Vue({
            el:'#app',
            data: {
                massage:"Hello world",
                name:"Mohammed",
                firstname:"Mohammed",
                lastname:"Elmostafa",
                UserName:'',
                findlist:'',
                age:25,
                url:'http://google.com',

                todos:[
                 'Learn JavaScript' ,
                 'Learn Vue' ,
                 'Build something awesome' 
                ],

                Posts:[
                { id:1, author:'ahmed',title:'Learn JavaScript'},
                { id:2, author:'medo',title:'Learn Vue'},
                { id:3, author:'ali',title:'Build something awesome' },
                { id:4, author:'husam',title:'Build something awesome' }
                ],
                

            },

// to register local components
            components:{
                'post-item':PostItem

            },

// this is how to create methods in vue js.
            methods:{
                reverseMesssage: function (){
                    // this.massage=this.massage
                },           

            },

            // to input calcluated functions
            computed: {
                clacAge(){
                    console.log('Run');
                    return this.age*3;
                },
                FullName(){
                    return this.firstname + ' ' + this.lastname;
                    // this is by using template literals
                    //  return `${this.firstname} ${this.lastname}`;
                },
                fliterlist(){
                    var filtering = new RegExp(this.findlist,'i');
                    return this.todos.filter(el => el.match(filtering));
                },

                validateUserName(){
                    if (!this.UserName) {
                        return 'is empty';
                    }else if(this.UserName.length>5){
                        return 'Welcome'+ ' ' + this.UserName;
                    }
                }
            },

            
        })
    </script>
    
</body>
</html>